@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    font-family: "Roboto", serif;
    z-index: 1000;

}


.flexBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    margin-left: 70px;
    width:80px;
    margin-right: 60px;
}


.searchBox {
    display: flex;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 20px;
    padding: 5px;
    width:250px;
    height:25px

}

.searchBox input {
    border: none;
    padding-right: 60px;
    outline: none;
    color: gray;
    font-family: "Roboto", serif;
    font-size: 14px;
}



.searchBox img {
    width:18px;
    cursor: pointer;
}


.navRight {
    margin-left: 250px;
}

.navItem {
    margin-left: 55px;
    cursor: pointer;
    color:rgb(12, 12, 12);
    border-radius: 15px;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */

}


.navItem:hover {
    transform: translateY(-2px); /* Lift upward */
    color:#FF0C81;
}


.navEnd {
    margin-left: 100px;
}

.loginBox {
    border-radius: 10px;
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    margin-left: 20px;
    width:100px;
    height:35px;
    border: none;
}



.signIn {
    background-color: #e3e3e3;
    color:black;
    border: 1px solid #2c2c2c;
    transition: 0.3s all;
}




.Register {
    background-color: black;
    color:white;
    border: 1px solid black;
    transition: 0.3s all;
}

.Register:hover {
    background-color: #474747;
}

.signIn:hover {
    background-color: #c7c6c6;

}
